<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.police.mapper.PiaokeMapper">
	<insert id="save" 
		parameterType="com.police.pojo.PiaokePojo">
		insert into piaoke values(
			#{id},
			#{cjsj},
			#{xm},
			#{zjhm},
			#{zz},
			#{xb},
			#{mz},
			#{csrq},
			#{zjlx},
			#{jg},
			#{type},			
			#{last_lgmc},
			#{last_lgbm},
			#{last_fh},
			#{message}
		)
	</insert>
	
	<select id="get_hour" 
		resultType="com.police.pojo.PiaokePojo">
		select *
		FROM piaoke
		where cjsj BETWEEN DATE_SUB(SYSDATE(),INTERVAL 1 hour) and SYSDATE()
	</select>
	
	<select id="getPiaokeByZjhm"
	parameterType="string"  
	resultType="com.police.pojo.PiaokePojo">
	select *
	from piaoke
	where zjhm=#{zjhm}
	</select>
	
	<select id="getZjhm_hour_count" resultType="string">
		select zjhm
		FROM piaoke
		where cjsj BETWEEN DATE_SUB(SYSDATE(),INTERVAL 1 hour) and SYSDATE()
		GROUP BY zjhm
		HAVING count(1)>1
	</select>
	
	<select id="getZjhm_month_count" parameterType="string" resultType="string">
		select a.zjhm
		FROM
		(select zjhm,type
		FROM piaoke 
		where cjsj BETWEEN DATE_SUB(SYSDATE(),INTERVAL ${_parameter} month) AND SYSDATE()
		GROUP by zjhm,type)a
		GROUP BY a.zjhm
		having count(1)>1
	</select>
	
	<select id="getZjhm_month" parameterType="string" resultType="string">
		select zjhm
		FROM piaoke
		where cjsj BETWEEN DATE_SUB(SYSDATE(),INTERVAL ${_parameter} month) AND SYSDATE()
		GROUP by zjhm
	</select>
	
	<select id="getNewByZjhm"  resultType="com.police.pojo.PiaokePojo">
		select *
		FROM piaoke
		where cjsj BETWEEN DATE_SUB(SYSDATE(),INTERVAL ${param1} month) and SYSDATE()
		and cjsj=(select max(cjsj) from piaoke where zjhm=#{param2})
		and zjhm=#{param2}
	</select>
	
	
	
	<select id="getMessageByTypeAndZjhm" resultType="string">
	select Message 
	FROM piaoke 
	where cjsj BETWEEN DATE_SUB(SYSDATE(),INTERVAL ${0} month) and SYSDATE()
	and cjsj=(select max(cjsj) from piaoke where zjhm=#{1} and type=#{2})
	and zjhm=#{1}
	and type=#{2}
	</select>
	
	

</mapper>